n8n/workflows/calendar-trigger.json
{
  "id": "calendar-trigger",
  "name": "Calendar Auto-Ingest",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": "primary"
      },
      "id": "calendar-trigger",
      "name": "Google Calendar Trigger",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const event = $input.first().json;\n\nconst attendees = (event.attendees || []).map(a => ({\n  name: a.displayName || a.email.split('@')[0],\n  email: a.email,\n  response_status: a.responseStatus || 'unknown'\n}));\n\nconst summary = event.summary || 'Untitled Event';\nconst startTime = event.start?.dateTime || event.start?.date || '';\nconst endTime = event.end?.dateTime || event.end?.date || '';\nconst location = event.location || '';\nconst eventId = event.id || '';\n\nreturn attendees.map(attendee => ({\n  json: {\n    attendee_name: attendee.name,\n    attendee_email: attendee.email,\n    response_status: attendee.response_status,\n    event_summary: summary,\n    start_time: startTime,\n    end_time: endTime,\n    location: location,\n    event_id: eventId\n  }\n}));"
      },
      "id": "extract-attendees",
      "name": "Extract Attendees",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-attendees",
      "name": "Loop Attendees",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/api/contacts/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.attendee_name }}\",\n  \"email\": \"{{ $json.attendee_email }}\",\n  \"source\": \"google_calendar\"\n}",
        "options": {}
      },
      "id": "ingest-contact",
      "name": "Ingest Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/api/interactions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": \"{{ $('Ingest Contact').item.json.contact.id }}\",\n  \"type\": \"meeting\",\n  \"date\": \"{{ $('Loop Attendees').item.json.start_time }}\",\n  \"raw_content\": \"Meeting: {{ $('Loop Attendees').item.json.event_summary }} at {{ $('Loop Attendees').item.json.location }}\\nAttendee: {{ $('Loop Attendees').item.json.attendee_name }} ({{ $('Loop Attendees').item.json.attendee_email }})\\nStatus: {{ $('Loop Attendees').item.json.response_status }}\"\n}",
        "options": {}
      },
      "id": "log-interaction",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 200]
    }
  ],
  "connections": {
    "Google Calendar Trigger": {
      "main": [
        [{ "node": "Extract Attendees", "type": "main", "index": 0 }]
      ]
    },
    "Extract Attendees": {
      "main": [
        [{ "node": "Loop Attendees", "type": "main", "index": 0 }]
      ]
    },
    "Loop Attendees": {
      "main": [
        [{ "node": "Ingest Contact", "type": "main", "index": 0 }]
      ]
    },
    "Ingest Contact": {
      "main": [
        [{ "node": "Log Interaction", "type": "main", "index": 0 }]
      ]
    },
    "Log Interaction": {
      "main": [
        [{ "node": "Loop Attendees", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
