n8n/workflows/gmail-trigger.json
{
  "id": "gmail-trigger",
  "name": "Gmail Auto-Ingest",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\n\nconst fromHeader = email.payload?.headers?.find(h => h.name === 'From')?.value || '';\nconst subjectHeader = email.payload?.headers?.find(h => h.name === 'Subject')?.value || '';\n\nconst nameMatch = fromHeader.match(/^(.+?)\\s*</);\nconst emailMatch = fromHeader.match(/<(.+?)>/);\n\nconst senderName = nameMatch ? nameMatch[1].trim().replace(/\"/g, '') : fromHeader;\nconst senderEmail = emailMatch ? emailMatch[1] : fromHeader;\n\nconst snippet = email.snippet || '';\n\nreturn [{\n  json: {\n    sender_name: senderName,\n    sender_email: senderEmail,\n    subject: subjectHeader,\n    body_snippet: snippet,\n    message_id: email.id,\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-fields",
      "name": "Extract Email Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/api/contacts/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.sender_name }}\",\n  \"email\": \"{{ $json.sender_email }}\",\n  \"source\": \"gmail\"\n}",
        "options": {}
      },
      "id": "ingest-contact",
      "name": "Ingest Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/api/interactions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_email\": \"{{ $('Extract Email Fields').item.json.sender_email }}\",\n  \"type\": \"email_received\",\n  \"subject\": \"{{ $('Extract Email Fields').item.json.subject }}\",\n  \"summary\": \"{{ $('Extract Email Fields').item.json.body_snippet }}\",\n  \"source\": \"gmail\",\n  \"external_id\": \"{{ $('Extract Email Fields').item.json.message_id }}\",\n  \"occurred_at\": \"{{ $('Extract Email Fields').item.json.received_at }}\"\n}",
        "options": {}
      },
      "id": "log-interaction",
      "name": "Log Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [{ "node": "Extract Email Fields", "type": "main", "index": 0 }]
      ]
    },
    "Extract Email Fields": {
      "main": [
        [{ "node": "Ingest Contact", "type": "main", "index": 0 }]
      ]
    },
    "Ingest Contact": {
      "main": [
        [{ "node": "Log Interaction", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
