n8n/workflows/morning-briefing.json
{
  "id": "morning-briefing",
  "name": "Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://api:3000/api/sub-agents?user_id=sean",
        "options": {}
      },
      "id": "get-sub-agents",
      "name": "Get Sub-Agents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflow_id }}",
        "options": {}
      },
      "id": "execute-workflow",
      "name": "Execute Sub-Agent Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "mode": "multiplex",
        "options": {}
      },
      "id": "merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/api/briefings/assemble",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "results",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "assemble-briefing",
      "name": "Assemble Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.briefing }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1400, 300]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [{ "node": "Get Sub-Agents", "type": "main", "index": 0 }]
      ]
    },
    "Get Sub-Agents": {
      "main": [
        [{ "node": "Split In Batches", "type": "main", "index": 0 }]
      ]
    },
    "Split In Batches": {
      "main": [
        [{ "node": "Execute Sub-Agent Workflow", "type": "main", "index": 0 }]
      ]
    },
    "Execute Sub-Agent Workflow": {
      "main": [
        [
          { "node": "Split In Batches", "type": "main", "index": 0 },
          { "node": "Merge Results", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [{ "node": "Assemble Briefing", "type": "main", "index": 0 }]
      ]
    },
    "Assemble Briefing": {
      "main": [
        [{ "node": "Telegram Send", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
